/**
 * Add-on XRMS theme for logo addition
 *
 * This style sheet overlays the default XRMS sheets:
 *    xrmsstyle.css, xrmsstyle-ie.css (if IE), and xrmsstyle-screen.css
 *
 * It is used to input a background image (img/logo.gif) into the header of every page, as a logo.
 */
#header_logo {
    z-index: 0;
    width: 135px;
    height: 45px;
    float: right;
    position: absolute;
    top: 2px;
    right: 200px; 
    background-image: url(../img/xrmslogo-dark.png);
    background-repeat: no-repeat;
}
