
body {
  background-color: #eeeeee;
  margin: 1px;
  font-family: arial, sans-serif;
  font-size: small;
}

#page_header {
  border: 1px solid Gainsboro;
  margin: 1px;
  padding-left: 5px;
  background-color: rgb(20%,40%,60%);
  color: #ffffee;
  font-family: tahoma, sans-serif;
  font-size: xx-large;
  font-weight: normal;
  text-align: left;
  line-height: 70px;
  background-image: url("img/page_title_background.gif");
  background-repeat: repeat-x;
  vertical-align: bottom;
}

#navline {
  border: 0px;
  padding: 5px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  font-weight: normal;
}

#navbar {
  text-align: left;
  float: left;
}

#loginbar {
  text-align: right;
}

#msg {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #cccccc;
  padding: 5px;
  background-color: #ffeeee;
  font-family: verdana, sans-serif;
  font-size: small;
  font-weight: bold;
  color: #333333;
  text-align: center;
  background-image: url("img/msg_background.gif");
}

#Content {
  margin-left: 1px;
  margin-top: 3px;
  text-align: left;
  float: left;
  width: 69%;
}

#Sidebar {
  margin-right: 1px;
  margin-top: 3px;
  text-align: right;
  width: 30%;
  float: right;
}

#ContentFullWidth {
  margin-left: 1px;
  margin-top: 3px;
  margin-right: 1px;
  margin-top: 3px;
  text-align: left;
  float: left;
  width: 100%;
}


table.widget {
  border-bottom: 2px solid Gainsboro;
  border-right: 2px solid Gainsboro;
  border-left: 1px solid Gainsboro;
  border-top: 1px solid Gainsboro;
  background-color: #eeeeee;
  margin-bottom: 15px;
  width: 100%;
}

td.widget_header {
  padding: 5px;
  background-color: rgb(20%,40%,60%);
  color: #ffffee;
  font-family: verdana, sans-serif;
  font-size: small;
  font-weight: bold;
  background-image: url("img/widget_header_background.gif");
}

td.widget_label {
  padding: 5px;
  background-color: #eeeeee;
  font-family: arial, sans-serif;
  font-size: small;
  font-weight: normal;
  color: #333333;
  background-image: url("img/widget_label_background.gif");
}
td.widget_label_right {
  padding: 8px;
  background-color: #eeeeee;
  font-family: arial, sans-serif;
  font-size: small;
  font-weight: normal;
  color: #333333;
  text-align: right;
  background-image: url("img/widget_label_right_background.gif");
  background-repeat: repeat;
  background-position: top right;
}
td.widget_label_center {
  padding: 5px;
  background-color: #eeeeee;
  font-family: arial, sans-serif;
  font-size: small;
  font-weight: normal;
  color: #333333;
  text-align: center;
  background-image: url("img/widget_label_background.gif");
}

td.widget_label_right_91px {
  padding: 4px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  font-weight: normal;
  color: #333333;
  text-align: right;
  background-image: url("img/widget_label_91px.gif");
}
td.widget_label_right_166px {
  padding: 4px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  font-weight: normal;
  color: #333333;
  text-align: right;
  background-image: url("img/widget_label_background_large.gif");
  background-repeat: no-repeat;
  background-position: top right;
}

td.widget_content {
  padding: 5px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
  vertical-align: top;
}

td.widget_content_nowrap {
  padding: 5px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
  vertical-align: top;
  white-space: nowrap;
}
td.widget_content_center {
  padding: 5px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
  text-align: center;
}
td.widget_content_right {
  padding: 5px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
  text-align: right;
}

td.widget_content_graph {
  padding: 5px;
  background-color: #bbbbbb;
  font-family: arial, sans-serif;
  font-size: small;
  color: #ffffee;
  text-align: center;
}

td.widget_content_market1 {
  padding: 5px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
}

td.widget_content_alt, widget_content_market2 {
  padding: 5px;
  background-color: #ffffee;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
}

td.widget_content_form_element {
  padding: 4px;
  vertical-align: middle;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
}

td.widget_content_form_element_center {
  padding: 4px;
  vertical-align: middle;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
  text-align: center;
}

td.sublabel {
  vertical-align: top;
  padding-left: 0px;
  padding-top: 1px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #666666;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}
td.clear {
  vertical-align: top;
  padding-left: 6px;
  padding-top: 1px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  font-weight: normal;
  color: #333333;
}

td.open_activity {
  padding: 5px;
  background-color: White;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
}
td.closed_activity {
  padding: 5px;
  background-color: #dcdcdc;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
}
td.overdue_activity {
  padding: 5px;
  background-color: #ff7777;
  font-family: arial, sans-serif;
  font-size: small;
  color: #ffffee;
}

td.scheduled_activity {
  padding: 5px;
  background-color: #EEEEFF;
  font-family: arial, sans-serif;
  font-size: small;
  color: #333333;
}

td.non_uploaded_file {
  padding: 5px;
  background-color: #ff7777;
  font-family: arial, sans-serif;
  font-size: small;
  color: #ffffee;
}

td.order_status_large {
  height: 50px;
  padding: 5px;
  background-color: White;
  font-family: tahoma, sans-serif;
  font-weight: bold;
  font-size: large;
  color: #444444;
  text-align: center;
}

font.order_status_quote {
  color: #999999;
}
font.order_status_approved_quote {
  color: #009900;
}
font.order_status_pending {
  color: #ff9900;
}
font.order_status_approved {
  color: #009900;
}
font.order_status_rejected {
  color: #ff3333;
}
font.order_status_shipped {
  color: #666666;
}
font.order_status_fulfillment {
  color: #666666;
}
font.order_status_receiving {
  color: #666666;
}
font.order_status_closed {
  color: #333333;
}

form {
  margin: 0px;
}

td.widget_header_warning {
  padding: 4px;
  background-color: #ff3333;
  color: White;
  font-family: verdana, sans-serif;
  font-size: small;
  font-weight: bold;
}
td.widget_content_warning {
  padding: 3px;
  background-color: #eeeeee;
  font-family: verdana, sans-serif;
  font-size: small;
  font-weight: bold;
  color: #ff3333;
  text-align: center;
}

a {
  color: #3333ff;
}
a:active {
  color: #ff3333;
}
a:hover {
  text-decoration: none;
}

/* a.new {
  font-family: arial, sans-serif;
  font-size: small;
  color: White;
  text-decoration: none;
} */

td.lcol {
  padding: 2px;
}
td.rcol {
  padding: 2px;
}

input, select, textarea {
  background-color: White;
  color: Black;
  font-family: arial, sans-serif;
  font-size: small;
  margin: 0px;
}
input.monospace, select.monospace, textarea.monospace {
  font-family: courier, monospace;
  font-size: small;
}
input.button {
  border: 1px solid #999999;
  background-color: #ffcc99;
  font-family: arial, sans-serif;
  font-size: small;
  margin: 0px;
}

img.date_picker {
  margin: 0px;
}

