/**
 * Basic XRMS theme with left sidebar
 * Imports the basic theme, and then modifies layout attributes
 * to move sidebar to the left side
 *  (URIs are always relative to the stylesheet)
 */
@import url(../../js/jscalendar/calendar-green.css);
@import url(../green/green.css);
/**
 * Change margin/width for sidebar on the left
 */
#Main #Content {
    /** Match sidebar width for right (by default) margin */
    margin: 0em 1px 0em 30.2%;
    width: auto;
}
#Main #Sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    /** Width needs to match right margin in #Main #Content */
    width: 30%;
}
